body {
    font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: medium;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
    padding: 20px;
    background: lightblue;
    font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: medium;
  font-size: 20px
}
 section {
    text-align: center;
    padding: 20px;

}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #333;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

#about {
    text-align: center;
    border: 1px solid #333;
    width: fit-content;
    border-style: dashed;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: medium;
  font-size: 20px
}
#avatar {
    border: 5px solid black;border: 5px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}
.contactButton {
    background: #7079f0;
    color: white;
    font-family: inherit;
    padding: 0.45em;
    padding-left: 1em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    cursor: pointer;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
    margin-bottom: 20px; /* Add more space below the button */
    margin-left: auto;
    margin-right: auto;
}

.iconButton {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
    right: 0.3em;
    transition: all 0.3s;
}

.contactButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #5566c2;
}

.contactButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #5566c2;
}
#email {
    text-align: center;
    border: 2px solid #333;
    width: fit-content;
    border-style: dashed;
    margin: 0 auto;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}
.image-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 40px;
}

.list-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

